#si{
    margin:10% 0% 0% 10%;
    
}
#siform{
    width:40%;
    border:1px solid green;
    height:500px;
    float:left;
}
#sires
{
    margin-left:50%;
        width:50%;
    border:1px solid green;
    height:500px;
        float:left;
}